* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #F5F5F5;
}

.text {
  color: black;
  margin: 2rem;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 2.25rem */
}

p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h1 {
  padding-top: 1rem;
  padding-left: 1rem;
}

/* Styling the nav bar */
header {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #BFB5D7;
  border-bottom: 2px solid #563C5C;
}

.logo {
  max-width: 10%;
}

.logo  img{
  height: 100%;
  max-height: 30px;
}

nav {
  width: 80%;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}

li a:hover{
  cursor: pointer;
  color: #563C5C;
  transition:all .25s;
}

ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  padding: 10px;
}

.takeAction {
  border: #563C5C solid 2px;
  border-radius: 6px;
}

.title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.08rem;
}

.continue {
  display: flex;
  padding: 1rem 0rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.continue a {
  display: flex;
  padding: 0.875rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: #563C5C;
  background: #563C5C;
  color: white;
  text-decoration: none;
}

.continue a:hover{
  background-color: #F5F5F5;
  color: black;
  transition:all .25s;
}

.caption {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.40625rem */
  width: 56.4375rem;
}

.citation {
  color: #828282;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.40625rem */
  width: 56.4375rem;
}

.boldText {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 2.625rem */
}

.paragraphText {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 3.5rem */
}

.thinkAboutIt {
  text-align: center;
  width: 74.8125rem;
  height: 7.0625rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 3px solid #BFB5D7;
  background: #FFF;
  display: flex;
}

.cardText {
  color: #2C2C2C;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  padding-left: 2rem;
  padding-top: 2.25rem;
}

.thinkAboutItLarge {
  width: 74.8125rem;
  height: 14.3125rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 3px solid #BFB5D7;
  background: #FFF;
}

.cardTextLarge {
  padding-top: 1.5rem;
  padding-left: 2rem;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}