* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }
  
/* Styling the nav bar */
header {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #BFB5D7;
  border-bottom: 2px solid #563C5C;
}

.logo {
  max-width: 10%;
}

.logo  img{
  height: 100%;
  max-height: 30px;
}

nav {
  width: 80%;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}

li a:hover{
  cursor: pointer;
  color: #563C5C;
  transition:all .25s;
}

ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  padding: 10px;
}

.takeAction {
  border: #563C5C solid 2px;
  border-radius: 6px;
}

  /* Styling the history pages */
  .history-content h1 {
    text-align: center;
    padding: 1%;
  }
  
  .history-content {
    margin: 2%;
    color: #563C5C;
  }
  
  .history-content p {
    margin: 1%;
  }
  
  .history-sources {
    padding: 2%;
    color: #563C5C;
  }
  
  .history-sources h1 {
    padding-bottom: 10px;
  }
  
  .history-sources p {
    color: #425C3C;
  }
  
  .history-sources a {
    color:#425C3C;
    text-decoration-line: underline;
  }
  
  .history-sources .source-sing {
    display: block;
    padding-bottom: 1%;
  }
  
  .history-sources a:hover {
    color:#E0BA44;
  }